Packages Used.....
pandas as pd
numpy as np
pathlib import Path
json
nltk
sklearn.preprocessing.LabelEncoder()
keras.utils.to_categorical()
sklearn.feature_extraction.text import TfidfVectorizer
keras as K
keras.layers import Dropout
keras.layers import Dense, Input, GlobalMaxPooling1D
keras.layers import Conv1D, MaxPooling1D, Embedding
keras.models import Model
keras import Sequential
